{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'cards/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'cards/css/cards.css' %}" rel="stylesheet">
        <link href="{% static 'cards/css/bootstrap-select.min.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'cards/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'cards/js/bootstrap-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'cards/js/jquery.tablesorter.min.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/cards/">Animation Throwdown Cards</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
        </div>
        </div>
    </body>
</html>