
{% extends "cards/base.html" %}

{% block scripts %}
<script>
    $(document).ready(function() {
            $("#cards-table").tablesorter( {sortList: [[1,0], ]} );
        }
    );

</script>
{% endblock %}


{% block content %}
    <div class="col-md-12">
        <h2>Cards</h2>
    </div>
    <div class="col-md-12">
        <table id="cards-table" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># of Combinations</th>
                    <th>Rarity</th>
                    <th>Trait</th>
                    <th>TV Show</th>
                    <th>Set</th>
                </tr>
            </thead>
            <tbody>
                {% for card in object_list %}
                    <tr>
                        <td><a href="/combos/{{ card.pk }}">{{ card.name }}</a></td>
                        <td><span class="badge">{{ card.combinations.count }}</span></td>
                        <td>{{ card.rarity }}</td>
                        {% if card.trait %}
                            <td>{{ card.trait.name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ card.tv_show.name }}</td>
                        <td>{{ card.card_set.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{#        <div><span class="current">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</span></div>#}
{#        <div class="pagination">#}
{#            <nav aria-label="...">#}
{#                <ul class="pager">#}
{#                    {% if page_obj.has_previous %}#}
{#                        <li class="previous">#}
{#                            <a href="/cards/?page={{ page_obj.previous_page_number }}">#}
{#                                <span aria-hidden="true">&larr;</span> Prev#}
{#                            </a>#}
{#                        </li>#}
{#                    {% else %}#}
{#                        <li class="previous disabled">#}
{#                            <a href="#">#}
{#                                <span aria-hidden="true">&larr;</span> Prev#}
{#                            </a>#}
{#                        </li>#}
{#                    {% endif %}#}
{#                    {% if page_obj.has_next %}#}
{#                        <li class="next">#}
{#                            <a href="/cards/?page={{ page_obj.next_page_number }}">Next <span aria-hidden="true">&rarr;</span>#}
{#                            </a>#}
{#                        </li>#}
{#                    {% else %}#}
{#                        <li class="next disabled">#}
{#                            <a href="#">Next <span aria-hidden="true">&rarr;</span></a>#}
{#                        </li>#}
{#                    {% endif %}#}
{##}
{#                </ul>#}
{#            </nav>#}
{#        </div>#}
    </div>
{% endblock %}