
{% extends "cards/base.html" %}

{% block scripts %}
    <script>
    $(document).ready(function() {
            $("#combo-table").tablesorter( {sortList: [[2,0], ]} );
        }
    );
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h2>Stats for {{ card.name }}</h2>
        <table id="stats-table" class="table">
            <tbody>
                <tr><td>Rarity</td><td>{{ card.rarity }}</td></tr>
                <tr><td>Description</td><td>{{ card.description }}</td></tr>
                {% if card.type %}
                    <tr><td>Type</td><td>{{ card.type.name }}</td></tr>
                {% endif %}
                {% if card.trait %}
                    <tr><td>Trait</td><td>{{ card.trait.name }}</td></tr>
                {% endif %}
                <tr><td>TV Show</td><td>{{ card.tv_show.name }}</td></tr>
            </tbody>
        </table>
        <a data-toggle="collapse" href="#levelCollapse" aria-expanded="false" aria-controls="levelCollapse">
          Show Levels
        </a>
        <div class="collapse" id="levelCollapse">
          <div class="well">
            <table id="level-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Attack</th>
                    <th>Health</th>
                    <th>Skills</th>
                </tr>
            </thead>
                {% for level in card.levels.all %}
                    <tr>
                        <td>{{ level.level }}</td>
                        <td>{{ level.attack }}</td>
                        <td>{{ level.health }}</td>
                        <td>
                            <ul class="list-group">
                                {% for skill in level.skills.all %}
                                    <ul class="list-group-item">
                                        {{ skill.list_display }}
                                    </ul>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
          </div>
        </div>
    </div>
    <div class="col-md-12">
        <h2>Combos for {{ card.name }}</h2>
    </div>
    <table id="combo-table" class="table table-striped tablesorter">
        <thead>
            <th>Card 1</th>
            <th>Card 2</th>
            <th>Card 2 Trait</th>
            <th>New Card</th>
        </thead>
        <tbody>
            {% for combo in object_list %}
                <tr>
                    {% if card in combo.cards.all %}
                        <td>{{ card.name }}</td>
                    {%  endif %}
                    {% for combo_card in combo.cards.all %}
                        {% if combo_card.pk != card.pk %}
                            <td><a href="/combos/{{ combo_card.pk }}/">{{ combo_card.name }}</a></td>
                            {% if combo_card.trait %}
                                <td>{{ combo_card.trait.name }}</td>
                            {% else %}
                                <td/>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td><a href="/combos/{{ combo.results_card.pk }}/">{{ combo.results_card }} </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}